.example-card {
  min-width: 350px;
  max-width: 500px;
}

.main-div {
  display: flex;
  justify-content: center;
  height: 500px;
}
.x {
  padding: 20px;
}
.button {
  margin-left: 20px;
}
.title {
  font-style: italic;
  color: green;
}
.error
{
  border:1px red;
}
